version: 2.1
orbs:
  architect: giantswarm/architect@6.14.0

jobs:
  unit-tests:
    executor: architect/architect
    steps:
    - checkout
    - run:
        name: Run unit tests
        command: CGO_ENABLED=0 make test-unit

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - unit-tests:
        filters:
          tags:
            only: /^v.*/

    - architect/go-build:
        name: go-build
        binary: policy-meta-operator
        resource_class: large
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
            # - unit-tests
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package and push policy-meta-operator chart
        requires:
        - go-build
        - push-to-registries
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        chart: policy-meta-operator
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-policy-meta-operator-chart-to-control-plane-catalog
        requires:
        - go-build
        - push-to-registries
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: policy-meta-operator
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
